html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 400px;
    width: 700px;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    grid-auto-rows: 1fr 200px 1fr;
}

div{
    background-color: #DAA520;
}
